<div>
  <h1>PLAYER1: <%= @name1 %></h1>
  <h1>PLAYER2: <%= @name2 %></h1>
  <h1><%= @name1 %></h1>_Hitpoints: <%= session[:player_1_hitpoints] %></h1>
  <h1><%= @name2 %></h1>_Hitpoints: <%= session[:player_2_hitpoints] %></h1>
</div>